* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
/*header*/
.title-icon {
    text-align: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.title-icon::after {
    content: "";
    background-color: rgb(26, 20, 12);
    width: 50px;
    height: 3px;
}
.menu-bar {
    display: none;
}
/*hamburger*/
.hbg-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 8000;
}
.hbg-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
    z-index: 9001;
}
.hbg-menu.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-6.5px, 6.5px);
}
.hbg-menu.active span:nth-child(2) {
    opacity: 0;
}
.hbg-menu.active span:nth-child(3) {
    transform: rotate(45deg) translate(-6.5px, -6.5px);
}
.hbg-menu-background {
    position: absolute;
    top: 8px;
    right: 3px;
    width: 45px;
    height: 45px;
    background-color: antiquewhite;
    border-radius: 50%;
    z-index: 8000;
}
.hbg-contents {
    position:absolute;
    top: 70px;
    left: 0;
    height: 0;
    width: 100vw;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;    
    
    transition: all 0.4s ease;
    z-index: 4000;
}
.hbg-contents.open {
    opacity: 1;
    height: 400px;
    visibility: visible;
    pointer-events: auto;
}
.hbg-contents ul {
    top: 0;
    right: 0;
    list-style: none;
}
.hbg-contents li {
    list-style: none;
    cursor: pointer;
    border-bottom: solid 2px rgb(255, 255, 255);
    background-color: rgb(62, 48, 5);
}
.hbg-contents a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 10px;
}
.hbg-contents .menu-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
} 
.hbg-contents .jp {
    font-size: 18px;
    font-weight: 500;
}
.hbg-contents .en {
    font-size: 12px;
    font-weight: 400;
    color: rgb(199, 170, 116);
}
.hbg-contents .arrow {
    justify-content: flex-end;
    font-size: 30px;
    color: rgb(199, 170, 116);
}
/*slideshow*/
.slideshow {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #1a1a1a;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}
.slide.active {
    opacity: 1;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
@media (max-width: 768px) {
    .slideshow {
        height: 300px;
    }
}
/*main*/
.main p {

    margin: 15px 0 5px 15px;
}
.menu-icons {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}
.menu-icons a {
    width: 210px;
    margin: 0 auto;
    cursor: pointer;
}
.menu-icons a:hover {
    opacity: 0.6;
}
.menu-icons img {
    overflow: hidden;
    width: 50px;
}


@media (max-width:768px) {
    .menu-icons {
        display: grid;
        text-align: center;
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 7px;
    }
    .menu-icons img {
        width: 200px;
        margin: 5px auto;
        text-align: center;
    }
}

/*footer*/
.nav {
    margin: 40px auto;
}
.nav ol {
    list-style: none;
}
.nav .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav .icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}
.nav .smeag-icon img {
    height: 45px;
}
.nav .instagram-icon img {
    height: 45px;
}
.nav .twitter-icon img {
    height: 55px;
}
.nav .youtube-icon img {
    height: 55px;
}
.nav a:hover {
    text-decoration: underline;
}