* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
.header-title {
    height: 7svh;
    background-color:antiquewhite;
}
.header-title h1 {
    position: absolute;
    top: -1px;
    left: 60px;
}
.header-title .icon {
    position: absolute;
    height: 7svh;
}

/*hamburger*/
.hbg-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 12px;
    right: 20px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 9000;
}
.hbg-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}
.hbg-menu.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-6.5px, 6.5px);
}
.hbg-menu.active span:nth-child(2) {
    opacity: 0;
}
.hbg-menu.active span:nth-child(3) {
    transform: rotate(45deg) translate(-6.5px, -6.5px);
}
.hbg-contents {
    position:fixed;
    top: 7svh;
    right: 0;
    height: 93svh;
    width: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(66, 152, 179);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;    
    
    transition: all 0.4s ease;
    z-index: 4000;
}
.hbg-contents.open {
    opacity: 1;
    width: 60vw;
    visibility: visible;
    pointer-events: auto;
}
.hbg-contents ul {
    top: 0;
    right: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hbg-contents li {
    list-style: none;
    height: 100px;
    cursor: pointer;
    border-bottom: solid 2px black;
    background-color: aliceblue;
}


/*main*/
.icons {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}
.icons img {
    height: 40svh;
}
.icons .icon:nth-child(1) {
    top: 5px;
}

/*footer*/
.nav ol {
    list-style: none;
}
.nav .icons {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: none;
}
.nav .icon img {
    height: 7svh;
    border: 50px;
}
.nav a {
    position: absolute;
    justify-content: center;
    color: black;
    text-decoration: none;
}
.nav a:hover {
    text-decoration: underline;
}